*{
    box-sizing: border-box;
}

.container{
    border-top:50px solid #1a6ec7;
    position: absolute;
    margin: 0%;
    width: 100%;
}

a{
    color: black;
    text-decoration: none;
}

ul{
    list-style: none;
    display: inline-flex;
}

h1{
    color: snow;
    font-size: 2.267em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.167em;
}

/*Navbar*/

.navbar{
    display: flex;
    justify-content: space-around;
    margin: 2ex;
    width:85%;
}

/*L-Nav*/

#nav-logo{
    position: relative; 
    left:8em;
}

/*R-Nav*/

.nav-ul{
   width:49em;
   position: relative; 
   bottom: 1.7ex;
}

#nav-ul-replace-img{
    visibility: hidden;
}

.ul-btn,.ul-btn-green{
    margin-left: 6ex;
    position: relative;
    top:3.3ex;
    left:13em;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.ul-btn:hover{
   color:cornflowerblue;
   cursor: pointer;
}

.ul-btn-green{
    color: rgb(96, 177, 14);
}


 /*Section*/

 .text{
    border: 1px solid rgba(135, 207, 235, 0.686);
    border-radius: 1.037em;
    background-color: rgba(135, 207, 235, 0.686);
    width:87%;
    padding: 3.3em;
    position: relative;
    top:4.5em;
    left:5em;
 }

/*Media Query*/
 
 @media screen and (max-width:1105px){
    
    .navbar{
        position: relative;
        right:9ex;
    }

    .navbar .nav-ul{
        visibility:hidden;
    }

    #nav-ul-replace-img{
       visibility: visible;
       color: #0068b3;
       margin-left: 0.7em;
       position: relative;
       bottom:1.4ex;
       left:14em;
    }
 
    #nav-logo{
        position: absolute;
        left:10em;
    }
    
}

@media screen and (max-width:700px){

    .container{
        transition: ease-out 2ms;
    }

    #nav-ul-replace-img{
        position: absolute;
        top:1.4em;
        left:2.6em;
    }
}
  